{% extends 'app/base.html' %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    {% block register %}
    <div class="contain-fluid" style="background-color: #eee;">
        <br>
            <div class='row'>
                <div class = 'card col-9 bg-light border border-start mx-auto'>
                    <h3 class="mx-auto">Giới thiệu</h3>
                    <p>Họ và tên : {{ request.user.first_name }} {{request.user.last_name}}</p>
                    <p>Ngày sinh : {{ profile.birthdate }}</p>
                    <p>Email : {{ request.user.email }}</p>
                    <p>Điện thoại : {{ profile.phone_number }} </p>
                    <table class="table table-hover">
                        <thead>
                            <td>Địa chỉ ship: </td>
                            <td>Vùng</td>
                            <td>Số điện thoại</td>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Hà Nội</td></tr>
                            {% for ship in shipping %}
                            <tr>
                                <td>{{ship.address}}</td>
                                <td>{{ship.state}}</td>
                                <td>{{ship.mobile}}</td>
                            </tr>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class = 'card col-9 bg-light border border-start mx-auto'>
                    <h3 class="mx-auto">Cập nhập thông tin</h3><br>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-3">
                                <p>Lastname</p><br>
                                <p>Firstname</p><br>
                                <p>Ngày Sinh</p><br>
                                <p>Email</p><br>
                                <p>Điện thoại</p><br>
                            </div>
                            <div class="col-9">
                            <input type="text" name='lastname' id="form3Example1c" class="form-control me-2" placeholder="ex: Minh"><br>
                            <input type="text" name='firstname' id="form3Example1c" class="form-control me-2" placeholder="ex: Trần Công"><br>
                            <input type="date" name='birthday' id="form3Example1c" class="form-control me-2" ><br>
                            <input type="email" name='emailname' id="form3Example1c" class="form-control me-2" placeholder="ex: testuser@gmail.com"><br>
                            <input type="phone" name='phonename' id="form3Example1c" class="form-control me-2" placeholder="ex: 1234567890"><br>
                            </div>
                            <button type="submit" class = 'btn btn-success w-auto mx-auto'>Cập nhập</button>
                        </div>
                    <br>
                    <br> 
                    </form>
                </div>
            </div>
    </div>
    {% endblock register %}
</html>