{% extends 'app/base.html' %}
{% load static %}
{% block nav_bar %}
<nav class="navbar navbar-expand-sm bg-body-tertiary ">
  <div class="container-fluid">

    <a class="navbar-brand" href="{% url 'staff' %}">
      <img id='Main-icon' src={% static 'app/images/cat.png' %} width=50 height=50>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class = 'collapse navbar-collapse' id="navbarSupportedContent">
      <ul class = 'navbar-nav me-auto mb-2 mb-lg-0 '>
        <li class = 'nav-item'>
          <a class="btn" href="{% url 'staff' %}">Sản phẩm</a>
        </li>
        <li class = 'nav-item'>
          <a class="btn" href="{% url 'ordercheck' %}">Đơn hàng</a>
        </li>
      </ul>
    </div>

    <div class='dropdown from-inline ms-2 my-2 my-lg-0' style = "visibility: {{user_login}}">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
        Nhân viên : {{ request.user }}
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'staff' %}">Hồ sơ người dùng</a></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a></li>
      </ul>                     
    </div>
  </div>
  
</nav>
{% endblock nav_bar%}
{% block staff %}
  <div class = 'container-fluid'>

    <div class="row">
      <div class = 'col-3 bg-light'>
        <p>Quán lí sản phẩm</p>
        <button class="btn bg-success text-light" >Thêm sản phẩm</button>
      </div>

      <div class = 'col-9 bg-light border border-start '>
        <table class="table">
         <thead>
          <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Đơn vị</th>
            <th>Giá sản phẩm</th>
            <th>Tác vụ<th>
          </tr>
         </thead>
         <tbody>
          <!-- Mẫu dòng -->
          <tr>
            <td class="product_stt">1</td>
            <td>Chuột logitech</td>
            <td><img src="{% static 'app/images/chuot_1.jpg' %}" alt="view" width="150px" height="150px"></td>
            <td>Cái</td>
            <td>500.000 VND</td>
            <td>
              <div class="d-grid gap-3">
                <a class="btn btn-danger btn-block" href="#">Xóa</a>
                <a class="btn btn-warning text-light btn-block" href="#">Cập nhập</a>
              </div>          
            </td>
          </tr>
          <!-- Hàm sinh dòng sản phẩm giựa trên dữ liệu trả về của cơ sở dữ liệu -->
          {% for product in products %}
            <tr>
              <td class="product_stt">1</td>
              <td>{{ item.name }}</td>
              <td><img src="{% static item.image %}" alt="view" width="150px" height="150px"><td>
              <td>Cái</td>
              <td>{{ item.price }}VND</td>
              <td>
                <div class="d-grid gap-3">
                  <a class="btn btn-danger btn-block" href="#">Xóa</a>
                  <a class="btn btn-warning text-light btn-block" href="#">Cập nhập</a>
                </div>          
              </td>
            </tr>
          {% endfor %}
         </tbody>
        </div>
      </div>
    </div>
  </div>
{% endblock staff%}
